
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
@*@Styles.Render("~/Content/bootstrap-select/css/bootstrap-select.min.css", "~/Content/css/from.css")*@
<form id="batchAdd">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <div style="padding-top: 10px; height: 340px">
            <table class="form bor-radius">
                <tbody id="batchTbody">

                </tbody>
            </table>
        </div>
    </div>
</form>
@*@section scripts {
    @Scripts.Render("~/Content/js/datepicker/WdatePicker.js", "~/Content/bootstrap-select/js/bootstrap-select.min.js")
}*@