.bor-radius .btn, .bor-radius .open {
    border-radius: 0 !important;
}
.input-select {
    height: 30px !important;
    padding-top: 4px;
}
.empty-prompt {
    height: 200px;
    text-align: center;
    color: darkgray;
    font-size: 16px;
}