
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<div class="topPanel">
    <div class="search">
        <table>
            <tr>
                <td>
                    <a id="NF-add" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_Pro()">项目统计</a>
                </td>
                <td>
                    <a id="NF-add" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_Per()">成员统计</a>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
</div>